body {
     text-align: center;
}

.books {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.item {
     width: 15%;
     text-align: center;
     margin: 10px;
}

.item img {
     width: 100px;
     height: 142px;
     margin: 0 auto;
}