.container {
     width: 50%;
     margin: 0 auto;
     text-align: center;
     border: 1px solid #fcfcef;
}

.content {
     display: flex;
     justify-content: flex-start;
     border: 1px solid #ffcdfc;
}

.time {
     display: block;
}