body {
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header_logo {
  margin: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
}

.header_left ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0px;
  padding-left: 0px;
}

.header_left ul li {
  list-style: none;
  margin-right: 15px;
}

.header_left ul li a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  color: rgb(51, 102, 153);
  margin-bottom: 50px;
  font-size: 60px;
}

.btn {
  text-decoration: none;
  padding: 15px 20px;
  margin: 30px;
  border: 3px solid rgb(158, 191, 247);
  border-radius: 5px;
  /* background-color: rgb(85, 140, 235); */
  color: #fff;
  font-weight: bold;
  display: block;
}

.login {
  background-color: rgb(85, 140, 235);
  border: 3px solid rgb(85, 140, 235);
}

.login:hover {
  border: 3px solid rgb(85, 140, 235);
  background-color: transparent;
  color: rgb(2, 26, 68);
}

.register {
  border: 3px solid rgb(85, 140, 235);
  color: rgb(2, 26, 68);
}

.register:hover {
  background-color: rgb(85, 140, 235);
  border: 3px solid rgb(85, 140, 235);
  color: #fff;
}

@media (min-width: 600px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
  .header_logo {
    font-size: 28px;
  }

  .header_left ul li a {
    font-size: 20px;
  }
}

@media (min-width: 960px) {
  .header_logo {
    font-size: 32px;
  }

  .header_left ul li a {
    font-size: 28px;
  }
}

@media (min-width: 1280px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }

.header_logo {
     font-size: 40px;
}

.header_left ul li {
     margin-right: 60px;
}

.btn {
     display: inline-block;
}
}
